.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;

    height: 60px;
    margin: 0;
    background-color: limegreen;

    &--item {
        list-style: none;
        margin: 0;

        color: white;
        font-weight: 900;
        text-transform: uppercase;

        width: 100px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;

        &:hover {
            background-color: transparentize(black, .9);
        }
    }

    &--item a, &--item a:visited {
        display: block;
        color: inherit;
        text-decoration: none;
    }
}
