$font-size: 20px;
$button-color: green;
$button-font-color: white;
$paragraph-color: red;


.test-button {
    font-size: 20px;

    padding: 7px 25px;
    background-color: $button-color;
    color: $button-font-color;
    outline: none;
}

.test-paragraph {
    color: $paragraph-color;
    font-weight: bold;
}